@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* Header/Logo Title */
.header {
    padding: 60px;
    text-align: center;
    background: #383838;
    color: white;
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    
  }
