<div class="header">
    <h1>{{ site.nazov_strany }}</h1>
    <h4>{{ site.popis_webu }}</h4>
</div>
<div class="topnav" id="myTopnav">
    <a href="{{ site.urlstranky }}/"><i class="fa-solid fa-house"></i> Domov</a>
    <a href="{{ site.urlstranky }}/changelog"><i class="fa-solid fa-clipboard-list"></i> Zoznam zmien</a>
    <a href="{{ site.urlstranky }}/videa"><i class="fa-solid fa-clipboard-list"></i> Videá</a>

    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>