<!DOCTYPE html>
<html lang="sk">

{% include hlava.html %}
<body class="bg-dark text-white">
    {% include hlavicka.html %}
    <div class="container"><br>
        <h1><strong><i class="fa-solid fa-laptop-code"></i> Moja práca</strong></h1>
        <hr>
        <p style="color:black;"></p>
        <div class="row">
            <div class="col-sm-6">
              <div class="card text-dark bg-white mb-3">
                <div class="card-body">
                  <h5 class="card-title" style="font-weight:bold">AnubisSVK Thema pre wordpress</h5>
                  <h5><span class="badge badge-success">PHP | CSS | JS | WORDPRESS</span></h5>
                  <p class="card-text">Webová stránka pre Anubissa a thema.</p>
                  <a href="https://github.com/AnubisSVK/AnubisSVK-Thema-pre-Wordpress" role="button" class="btn btn-danger"><i class="fab fa-github"></i></a>
                </div>
              </div>
            </div>



<div class="col-sm-6">
              <div class="card text-dark bg-white mb-3">
                <div class="card-body">
                  <h5 class="card-title" style="font-weight:bold">TNT Protekcia</h5>
                  <h5><span class="badge badge-success">JAVA</span></h5>
                  <p class="card-text">Plugin ktorý zákaze TnT a Lávu na minecraftovom servery.</p>
                  <a href="https://www.spigotmc.org/resources/tnt-protekcia.88149/" role="button" class="btn btn-danger"><i class="fab fa-java"></i></a>
                </div>
              </div>
            </div>
<p></p>
<div class="col-sm-6">
    <div class="card text-dark bg-white mb-3">
      <div class="card-body">
        <h5 class="card-title" style="font-weight:bold">AnubisSVK.fun -> Webová stránka</h5>
        <h5><span class="badge badge-success">HTML | CSS | JS | Ruby</span></h5>
        <p class="card-text">Zdrojový kod mojho webu na gthube</p>
        <a href="https://github.com/AnubisSVK-jpg/web" role="button" class="btn btn-danger"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </div>
<p></p>

</div>
    </div>
    <br>
    {% include footer.html %}
</body>
</html>